@theme {
  --animate-fade-in: fade-in 0.4s ease-in-out both;
  @keyframes fade-in {
    0% {
      transform: scale(0.7);
    }
    100% {
      transform: scale(1);
    }
  }

  --animate-bg-y: bg-y 20s linear infinite both;
  @keyframes bg-y {
    0%,
    100% {
      background-position-y: 0%;
    }
    50% {
      background-position-y: -100%;
    }
  }

  --animate-project-image: project-image 20s linear infinite alternate-reverse
    both;
  @keyframes project-image {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(calc((100% - 240px) * -1));
    }
  }

  --animate-border: gradient-animation 20s linear infinite alternate-reverse
    both;
  @keyframes gradient-animation {
    from {
      --gradient-animation: -360deg;
    }
    to {
      --gradient-animation: 360deg;
    }
  }
}
